body {
	color: #ccc;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 100%;
}

#wrapper {
	background: #b9d0e0 url(http://www.rphaven.com/css/images/bggradient.png) repeat-x;
	min-height: 100%;
	height: 100vh;
	width: 100%;
	margin: 0 auto -4em;
	top: auto !important;
	bottom: auto!important;
	position: static!important;
	overflow: auto;
	padding: 0;

	display: flex;
	flex-direction: column;
}

#main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#headContainer {
	position: relative;
	height: 85px;
	width: 100%;
	
}

#middle {
	width: 100%;
	height: 50px;
	background: #356d96;
	overflow: visible;
	position: relative;
}

#center {
	width: 800px;
	height: 75px;
	background: #356d96;
	margin: 0 auto;
	border-radius: 6px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#profileHeader {
	position: absolute;
	bottom: 0px;
	width: 792px;
	border-radius:4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 30px;
	transition: 0.6s height;
	background: #356d96;

	left: 50%;
	transform: translateX(-50%);
}

#profileHeader:hover {
	height: 150px;
}

#profileContainer {
	width: 100%;
	border: none;
	
	flex-grow: 1;
}