/* this file is made to emulate a RPH profile page. Don't edit it at all! */
html {
	height: 100%;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ccc;
	font-size: 13px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}

#scroller {
	/* padding:35px;
	padding-left: 17px; */
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}

#profile-container {
	margin: 0 auto;
	position: relative;
	width: 750px;
	background: #333;
	padding: 0;
	

}