doctype html
html
	head
		link(rel="stylesheet" href="profile.css")
		link(rel="stylesheet" href="compiled/compiled.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
		script(src="compiled/compiled.js")
	body
		#scroller
			#profile-container
				include ../source/main.pug